@model MortgageSystem.Models.Terms

@{
    ViewBag.Title = "Terms";
    Layout = "~/Views/Shared/Customer_layout.cshtml";
}

<h2>Terms</h2>

<div>
    <h4>Terms</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Term)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Term)
        </dd>

    </dl>
</div>

